<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Admin Panel</title>
</head>

<body>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{msg.message}}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="body-div">

        <h1>Applications</h2>

            <div class="sections-wrapper">

                <section class="section accepted-section">

                    <h2>Accepted List</h2>

                    <div class="section-list">
                        {% for acc in accepted %}
                        <div>
                          <a href="{% url  'application_detail' acc.id %}" target="_blank">{{acc.applicationId}}</a>

                        </div>

                        {% endfor %}
                    </div>

                </section>

                <section class="section pending-section">

                    <h2>Pending List</h2>

                    <div class="section-list-pending">
                        {% for acc in pending %}
                        <div>
                            <a href="{% url 'pending_edit' acc.id %}" target="_blank" id="pending-application-btn" class="pending-application-btn"> {{acc.applicationId}} </a>
                        </div>
                        <div id="myModal" class="modal">

                            <div class="modal-content">

                                <span class="close">&times;</span>

                                <button class="accept-btn modal-btn" id="accept-btn">Accept</button>
                                <div id="reg-num-input" class="modal-div">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="Accepted">
                                    <input type="number" placeholder="Registration Number" class="modal-input" name="registration_no">
                                    <input type="hidden" name="reason" placeholder="Reason for Accepting" class="modal-input" >
                                    <input type="hidden" name="id" value={{acc.id}}>
                                    <input type="submit" class="modal-btn">
                                    </form>
                                </div>

                                <button class="reject-btn modal-btn" id="reject-btn">Reject</button>
                                <div id="rej-reason-input" class="modal-div">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="Rejected" >
                                    <input type="text" name="reason" placeholder="Reason for Rejection" class="modal-input" >
                                    <input type="hidden" name="id" value={{acc.id}}>
                                    <input type="submit" class="modal-btn">
                                </form>
                                </div>


                            </div>

                        </div>

                        {% endfor %}
                    </div>

<!--

                     <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <button class="accept-btn modal-btn" id="accept-btn">Accept</button>
                            <div id="reg-num-input" class="modal-div">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="status" value="Accepted">
                                    <input type="hidden" name="reason" value="good" >

                                <input type="number" placeholder="Registration Number" class="modal-input" name="registration_no">
                                <input type="submit" class="modal-btn">
                            </form>
                            </div>
                            <button class="reject-btn modal-btn" id="reject-btn">Reject</button>
                            <div id="rej-reason-input" class="modal-div">
                                <form  method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="status" value="Rejected" >
                                <input type="text" name="reason" placeholder="Reason for Rejection" class="modal-input" name="reason">
                                <input type="submit" class="modal-btn">
                            </form>
                            </div>
                        </div>

                    </div>
                -->
                </section>

                <section class="section rejected-section">
                    <h2>Rejected List</h2>

                    <div class="section-list">
                        {% for acc in rejected %}

                        <div>
                            <a href="{% url  'application_detail' acc.id %}" target="_blank">{{acc.applicationId}}</a>
                        </div>
                        {% endfor %}
                    </div>

                </section>

            </div>

    </div>

    <script>
setTimeout(function() {
            $('.messages').fadeOut('fast');
        }, 10000);

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("pending-application-btn");
        var span = document.getElementsByClassName("close")[0];
        var acc_btn = document.getElementById("accept-btn");
        var rej_btn = document.getElementById("reject-btn");
        var accept_div = document.getElementById("reg-num-input");
        var reject_div = document.getElementById("rej-reason-input");

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
            rej_btn.style.display = "inline-block";
            acc_btn.style.display = "inline-block";
            accept_div.style.display = "none";
            reject_div.style.display = "none";
        }

        acc_btn.onclick = function() {
            accept_div.style.display = "block";
            rej_btn.style.display = "none";
            acc_btn.style.display = "none";
        }

        rej_btn.onclick = function() {
            reject_div.style.display = "block";
            acc_btn.style.display = "none";
            rej_btn.style.display = "none";
        }


        window.onclick = function(event) {
            if (event.target == modal) {
                accept_div.style.display = "none";
                reject_div.style.display = "none";
                rej_btn.style.display = "inline-block";
                acc_btn.style.display = "inline-block";
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>